#loanout
  h3 貸出
  input type="text" v-model="isbn" @keyup.enter="fire()" v-focus=""

  div v-for="book in books"
    div
      img src="{{book.medium_image_url}}"
      span
        | {{book.title}}

a href="/logout" 戻る

- content_for :js
  javascript:
    Vue.directive('focus', {
      bind: function () {
        this.el.focus();
      }
    });

    new Vue({
      el: "#loanout",
      data: {
        isbn: "",
        books: []
      },
      methods: {
        fire: function() {
          this.$http.post("/loanout", {isbn: this.isbn}, {emulateJSON: true}).then(function(response) {
            this.books.push(response.data);
          }, function(response) {
            // error
            console.log(response.data);
          });
          this.isbn = "";
        }
      }
    });

